# Byte-compiled / cache files
__pycache__/
.ipynb_checkpoints/

# Environment files
.env
.conda

# OS files
.DS_Store

# Data and output files
#*.json
*.csv
*.zip
*info
data/

# Notebooks
*.ipynb

# Project-specific files
trainer.py
