# Byte-compiled / cache files
__pycache__/
.ipynb_checkpoints/

# Environment files
.env
.conda

# OS files
.DS_Store

# Data and output files
#*.json
*.csv
!models/training_results.csv
!models/cv_fold_results.csv
*.zip
*info
data/

# Notebooks
*.ipynb

# Project-specific files
#trainer*.py
models-*
.venv/
